.header{
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.header h1{
    color: rgb(255, 167, 34);
}

.header nav{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav a{
    text-decoration: none;
    color: white;
    font-size: larger;
}

.header nav a:hover{
    text-decoration: underline;
    color: rgb(255, 167, 34);
}
/* 
.header{
    background-color: black;
} */